@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans');


html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}


.linku:link {
	color: #b2001d;
}

.linku:visited {
	color: #b2001d;
}

.linku:hover {
	color: #ff8787;
}

/* Landing Page */
.intro {
	height:100%;
	width:100%;
	margin:auto;
	background-color: white;
	display: table;
	top:0;
	background-size:cover;
}

.intro .inner {
	display: table-cell;
	vertical-align: middle;
	width:100%;
	max-width:none;
}

.content {
	margin: 0 auto;
	text-align: center;
}

.content h1 {
	font-family: 'Noto Serif', serif;
	font-weight: 100;
	font-size: 300%;
}


/* Sweep To Right */
.hvr-sweep-to-right {
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
  color: #b2001d;
  padding: 10px 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-decoration: none;
	
	/* Let's enforce some hardware acceleration */
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	
	
}


.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b2001d;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  text-decoration: none;
	
	
	
}




.hvr-sweep-to-right:hover, .hvr-sweep-to-right:active {
  color: white;
  text-decoration: none;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  text-decoration: none;
	
}

::selection {
  background: #ff8787; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ff8787; /* Gecko Browsers */
}


/* Header */
nav {
 	z-index: 10000;
  	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	padding: 0px 15px;
	box-sizing: border-box;
	transition: 1s;
}

.nav2 {
 	z-index: 10000;
  	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	padding: 0px 15px;
	box-sizing: border-box;
	height: 57px;
	transition: 1s;
	background: rgba(0, 0, 0, 0.8);
}

nav.black {
	background: rgba(0, 0, 0, 0.8);
	height: 57px;
	padding: 0px 15px;
}

.projTitle {
	padding: 200px 0px 0px 36px;
	height: 0px;
	float: left;
	font-family: 'Noto Serif', serif;
	font-size: 22px;
	transition: 1s;
	text-decoration: none;
	color: #000;
	font-weight: 100;
	width: 100%;
	float: left;
}

.projTitle2 {
	padding: 0px 0px 0px 36px;
	float: left;
	font-family: 'Noto Serif', serif;
	font-size: 22px;
	transition: 1s;
	text-decoration: none;
	color: #000;
	font-weight: 100;
	width: 100%;
	float: left;
}

.projDesc {
	padding: 20px 200px 20px ;
	width: 100%;
	float: left;
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	transition: 1s;
	text-decoration: none;
	color:#545454;
	font-weight: 100;
	float: left;
}

.projDesc2 {
	padding: 20px 200px 0px ;
	width: 100%;
	float: left;
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	transition: 1s;
	text-decoration: none;
	color:#545454;
	font-weight: 100;
	float: left;
}

.projDesc3 {
	padding: 0px 200px 0px ;
	width: 100%;
	float: left;
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	transition: 1s;
	text-decoration: none;
	color:#545454;
	font-weight: 100;
	float: left;
}

.projDesc4 {
	padding: 0px 200px 0px ;
	width: 100%;
	float: left;
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	transition: 1s;
	text-decoration: none;
	color:#545454;
	font-weight: 100;
	float: left;
}


.projDescEnd {
	padding: 20px 200px 70px ;
	width: 100%;
	float: left;
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	transition: 1s;
	text-decoration: none;
	color:#545454;
	font-weight: 100;
	float: left;
}

.projDescEnd2 {
	padding: 0px 200px 70px ;
	width: 100%;
	float: left;
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	transition: 1s;
	text-decoration: none;
	color:#545454;
	font-weight: 100;
	float: left;
}

.projPic {
	padding: 0px 200px 0px ;
	width: 100%;
	float: left;
	transition: 1s;
	float: left;
	display: inline-block;
}



.vid {
	padding: 40px 200px 0px ;
	width: 100%;
	height: 90%;
	float: left;
	transition: 1s;
	float: left;
	display: inline-block;
}

.vid2 {
	padding: 20px 200px 20px ;
	width: 100%;
	height: 90%;
	float: left;
	transition: 1s;
	float: left;
	display: inline-block;
	
}

.projPic2 {
	padding: 40px 200px 0px ;
	width: 100%;
	float: left;
	transition: 1s;
	float: left;
	display: inline-block;
}

.projPic3 {
	padding: 20px 200px 20px;
	width: 100%;
	float: left;
	transition: 1s;
	float: left;
	display: inline-block;
}

.projPic4 {
	padding: 0px 200px 70px;
	width: 100%;
	float: left;
	transition: 1s;
	float: left;
	display: inline-block;
}



nav div a{
	padding: 14px 20px;
	height: 80px;
	float: left;
	font-family: 'Noto Serif', serif;
	font-size: 22px;
	transition: 1s;
	text-decoration: none;
	color: #000;
}

nav.black .name {
	color: #fff;
}

.name2 {
	color: #fff;
}

.o1 {
	color: #fff;
}


nav ul {
	list-style: none;
	float: right;
	margin: 0;
	padding: 15px;
	display: flex;
}

nav ul li {
	list-style: none;
	
}


nav.black ul li a {
	color: #fff;
	
}


/* Underline Reveal */
.hvr-underline-reveal {
  font-family: 'Noto Serif', serif;
  font-weight: 100;
  font-size: 16px;
  text-decoration: none;
  transition: 1s;
  padding: 4px 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  color: black;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b2001d;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  text-decoration: none;
  color: black;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  text-decoration: none;
  color: black;
}


.hvr-underline-reveal2 {
  font-family: 'Noto Serif', serif;
  font-weight: 100;
  font-size: 16px;
  text-decoration: none;
  transition: 1s;
  padding: 4px 20px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  color: white;
}
.hvr-underline-reveal2:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b2001d;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  text-decoration: none;
  color: white;
}
.hvr-underline-reveal2:hover:before, .hvr-underline-reveal2:focus:before, .hvr-underline-reveal2:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  text-decoration: none;
  color: white;
}


 section div div a {
	border: #000;
	border-style: solid;
	border-width:thin;
}



/* Project Section */
* {
    box-sizing: border-box;
	
}


/* Center website */
.main {
    max-width: 95%;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 30px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.projects {
    background-color: white;
    padding: 0px;
	border-style: solid;
	border-width: thin;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.projects img {
	display: block;
}


.projects h3 {
	text-align: center;
	position: relative;
}

.desc {
	text-align: center;
}

.colorChange {
	
	display: block;
	width: 100%;
	height: 100%;
	opacity: 1;
	
	transition: .5s;
}



.colorChange:hover {
    opacity: .4;
}


body {
    opacity: 1;
    transition: 1s opacity;
	
}

body.fade-out {
    opacity: 0;
    transition: none;
}
